In [1]:
import pandas as pd

In [5]:
tasks = pd.read_csv('./tasks_rows.csv')
topics = pd.read_csv('./topics_rows.csv')
tasks_to_topics = pd.read_csv('./tasks_to_topics_rows.csv')

In [6]:
tasks_to_topics

       topic_object_id  topic_session_id  task_object_id  task_session_id
0                    7               165               1              492
1                    4               101               1              492
2                    8               192               2              469
3                    7               165               2              469
4                   10               153               3              518
...                ...               ...             ...              ...
16481              135                64          560205             3010
16482              135                64          560208             3010
16483              138                12          560209             3010
16484              134               204          560210             3010
16485              134               204          560212             3010

[16486 rows x 4 columns]

In [7]:
tasks

,object_id,session_id,language_object_id,language_session_id,marked_for_deletion,type,task_data,metadata,data_hash
0,1,492,1,1,False,completeSentenceWrite,"{""entries"":[{""content"":""мээс"",""translation"":""""...",{},7e7cb352992ae54f0a97f2491acc05e3159c1c4685b75f...
1,2,469,1,1,False,translateWord,"{""entries"":[{""content"":""те́ҥыз"",""translation"":...",{},c00b9a8433f6af0a783a879f461e84dded21046f9172f2...
2,3,518,1,1,False,completeSentenceWrite,"{""entries"":[{""content"":""чўқимоқ"",""translation""...",{},de690ca980d5091bb52a658db50842156a175ac6d35240...
3,4,552,1,1,False,translateWord,"{""entries"":[{""content"":""ӈӑй,"",""translation"":""н...",{},8d297dc32595464740e087fb1a6a2cbf8e4a2a037e5e03...
4,5,542,1,1,False,completeSentence,"{""entries"":[{""content"":""инязоронть"",""translati...",{},fc1f934028b01590f09c07feddc59d979d7d9d1c52b0ac...
...,...,...,...,...,...,...,...,...,...
15181,560205,3010,13,1,False,completeSentenceWrite,"{""entries"":[{""content"":""приходится"",""translati...",{},dc35f012d36dfff6a22ed2739c092b0ab430740aa26bee...
15182,560208,3010,13,1,False,completeSentenceWrite,"{""entries"":[{""content"":""а"",""translation"":""""},{...",{},0195f8472e6449636147653e89f8b0d393bb931480acdf...
15183,560209,3010,13,1,False,completeSentenceWrite,"{""entries"":[{""content"":""а"",""translation"":""""},{...",{},4cdf8495c954228d68ee34db48fec21f649873a89eb80e...
15184,560210,3010,13,1,False,completeSentenceWrite,"{""entries"":[{""content"":""а"",""translation"":""""},{...",{},1b8d3a9becb4be15df5e3e9db066338b97655e32161459...
15185,560212,3010,13,1,False,completeSentenceWrite,"{""entries"":[{""content"":""а"",""translation"":""""},{...",{},64637c49232e54e0c2785f584f42c7921506f745401f07...

In [8]:
topics

,object_id,session_id,language_object_id,language_session_id,marked_for_deletion,name,description
0,1,49,1,1,False,entry,Вступительный тест
1,2,219,1,1,False,nom,Именительный
2,3,127,1,1,False,acc,Винительный
3,4,101,1,1,False,gen,родительный
4,5,267,1,1,False,abl,разделительный
...,...,...,...,...,...,...,...
139,140,165,13,1,False,par,?
140,141,215,13,1,False,com,?
141,142,173,13,1,False,comp,?
142,143,19,13,1,False,loc,?
143,150,2989,1,1,False,sim,sim description

In [11]:
tasks.drop(columns=['task_data', 'metadata', 'data_hash', 'marked_for_deletion'], inplace=True)

In [12]:
tasks

,object_id,session_id,language_object_id,language_session_id,type
0,1,492,1,1,completeSentenceWrite
1,2,469,1,1,translateWord
2,3,518,1,1,completeSentenceWrite
3,4,552,1,1,translateWord
4,5,542,1,1,completeSentence
...,...,...,...,...,...
15181,560205,3010,13,1,completeSentenceWrite
15182,560208,3010,13,1,completeSentenceWrite
15183,560209,3010,13,1,completeSentenceWrite
15184,560210,3010,13,1,completeSentenceWrite
15185,560212,3010,13,1,completeSentenceWrite

In [13]:
# russian is [13, 1]
# bashkir is [1, 1]

tasks[(tasks.language_object_id == 13) & (tasks.language_session_id == 1)]

,object_id,session_id,language_object_id,language_session_id,type
1200,1201,383,13,1,completeSentenceWrite
1201,1202,359,13,1,translateWord
1202,1203,453,13,1,completeSentenceWrite
1203,1204,311,13,1,completeSentence
1204,1205,597,13,1,completeSentence
...,...,...,...,...,...
15181,560205,3010,13,1,completeSentenceWrite
15182,560208,3010,13,1,completeSentenceWrite
15183,560209,3010,13,1,completeSentenceWrite
15184,560210,3010,13,1,completeSentenceWrite
15185,560212,3010,13,1,completeSentenceWrite

In [15]:
topics[tasks_to_topics.task_object_id.isin(tasks[(tasks.language_object_id == 13) & (tasks.language_session_id == 1)]['object_id'])]

/tmp/ipykernel_412206/2461825876.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  topics[tasks_to_topics.task_object_id.isin(tasks[(tasks.language_object_id == 13) & (tasks.language_session_id == 1)]['object_id'])]

Empty DataFrame
Columns: [object_id, session_id, language_object_id, language_session_id, marked_for_deletion, name, description]
Index: []

In [16]:
tasks_to_topics[(tasks_to_topics.task_object_id == 1202) & (tasks_to_topics.task_session_id == 359)]

      topic_object_id  topic_session_id  task_object_id  task_session_id
2402              139                 3            1202              359
2403              137               303            1202              359

In [18]:
topics[(topics.object_id == 137) & (topics.session_id == 303)]

,object_id,session_id,language_object_id,language_session_id,marked_for_deletion,name,description
136,137,303,13,1,False,abl,разделительный

In [41]:
tasks_to_topics[
    (
        tasks_to_topics.task_object_id.isin(
            tasks[(tasks.language_object_id == 13) & (tasks.language_session_id == 1)]['object_id']
        )
    ) & 
    (
        tasks_to_topics.task_session_id.isin(
            tasks[(tasks.language_object_id == 13) & (tasks.language_session_id == 1)]['session_id']
        )
    )
    
]

       topic_object_id  topic_session_id  task_object_id  task_session_id
2400               139                 3            1201              383
2401               140               165            1201              383
2402               139                 3            1202              359
2403               137               303            1202              359
2404               139                 3            1203              453
...                ...               ...             ...              ...
16481              135                64          560205             3010
16482              135                64          560208             3010
16483              138                12          560209             3010
16484              134               204          560210             3010
16485              134               204          560212             3010

[900 rows x 4 columns]

In [ ]:
tasks_to_topics[
    (
        tasks_to_topics.task_object_id.isin(
            tasks[(tasks.language_object_id == 13) & (tasks.language_session_id == 1)]['object_id']
        )
    ) & 
    (
        tasks_to_topics.task_session_id.isin(
            tasks[(tasks.language_object_id == 13) & (tasks.language_session_id == 1)]['session_id']
        )
    )
    
]

In [27]:
tmp = tasks_to_topics.merge(tasks, left_on=['task_object_id', 'task_session_id'], right_on=['object_id', 'session_id']).drop(columns=['object_id', 'session_id']).rename(columns={'type': 'task_type'})
tmp

,topic_object_id,topic_session_id,task_object_id,task_session_id,language_object_id,language_session_id,task_type
0,7,165,1,492,1,1,completeSentenceWrite
1,4,101,1,492,1,1,completeSentenceWrite
2,8,192,2,469,1,1,translateWord
3,7,165,2,469,1,1,translateWord
4,10,153,3,518,1,1,completeSentenceWrite
...,...,...,...,...,...,...,...
16481,135,64,560205,3010,13,1,completeSentenceWrite
16482,135,64,560208,3010,13,1,completeSentenceWrite
16483,138,12,560209,3010,13,1,completeSentenceWrite
16484,134,204,560210,3010,13,1,completeSentenceWrite
16485,134,204,560212,3010,13,1,completeSentenceWrite

In [46]:
all_data = tmp.merge(
    topics, 
    left_on=[
        'topic_object_id', 
        'topic_session_id',
        'language_object_id',
        'language_session_id',
    ], 
    right_on=[
        'object_id', 
        'session_id',
        'language_object_id',
        'language_session_id',
    ]
)\
.drop(
    columns=[
        'marked_for_deletion',
        'object_id', 
        'session_id'
    ]
)\
.rename(
    columns={
        'name': 'topic_name', 
        'description': 'topic_description'}
)
all_data

,topic_object_id,topic_session_id,task_object_id,task_session_id,language_object_id,language_session_id,task_type,topic_name,topic_description
0,7,165,1,492,1,1,completeSentenceWrite,ins,творительный
1,7,165,2,469,1,1,translateWord,ins,творительный
2,7,165,3,518,1,1,completeSentenceWrite,ins,творительный
3,7,165,10,539,1,1,translateWord,ins,творительный
4,7,165,12,463,1,1,completeSentence,ins,творительный
...,...,...,...,...,...,...,...,...,...
16481,150,2989,15818,2989,1,1,completeSentenceWrite,sim,sim description
16482,150,2989,17233,2989,1,1,completeSentenceWrite,sim,sim description
16483,150,2989,17237,2989,1,1,completeSentenceWrite,sim,sim description
16484,150,2989,17564,2989,1,1,completeSentenceWrite,sim,sim description
16485,150,2989,17667,2989,1,1,completeSentenceWrite,sim,sim description

In [45]:
all_data[(all_data.language_object_id == 13) & (all_data.language_session_id == 1)]

,topic_object_id,topic_session_id,task_object_id,task_session_id,language_object_id,language_session_id,task_type,topic_name,topic_description
15549,139,3,1201,383,13,1,completeSentenceWrite,ins,творительный
15550,139,3,1202,359,13,1,translateWord,ins,творительный
15551,139,3,1203,453,13,1,completeSentenceWrite,ins,творительный
15552,139,3,1205,597,13,1,completeSentence,ins,творительный
15553,139,3,1210,524,13,1,translateWord,ins,творительный
...,...,...,...,...,...,...,...,...,...
16444,134,204,560198,3010,13,1,completeSentenceWrite,nom,Именительный
16445,134,204,560201,3010,13,1,completeSentenceWrite,nom,Именительный
16446,134,204,560204,3010,13,1,completeSentenceWrite,nom,Именительный
16447,134,204,560210,3010,13,1,completeSentenceWrite,nom,Именительный
16448,134,204,560212,3010,13,1,completeSentenceWrite,nom,Именительный

In [49]:
all_data.task_type.unique()

array(['completeSentenceWrite', 'translateWord', 'completeSentence'],
      dtype=object)